body {
    font-family: 'Myriad', sans-serif;
}
.App {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    background-color: #95BF46;
    padding: 20px;
    font-family: 'Myriad', sans-serif;
}

  .buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  
  .buttons button {
    font-size: 1em;
    cursor: pointer;
    font-family: inherit;
  }